<div class="home-container"
  ><div class="home-container01"
    ><div class="home-container02"
      ><span class="home-text"><span>Administrateur</span><br /></span
      ><p class="home-text03">Calendrier</p></div
    ><div class="home-container03"
      ><div class="home-sidebar"
        ><nav class="home-nav"
        ><span class="home-text04" routerLink="/Administrateur/Dashboard"><p-button label="Dashboard" [text]="true"></p-button></span
            ><span class="home-text05" routerLink="/Administrateur/Calendrier"><p-button label="Calendrier" [text]="true"></p-button></span
            ><span class="home-text06" routerLink="/Administrateur/GestionDesFormateurs/Accueil"><p-button label="Gestion des formateurs" [text]="true"></p-button></span
            ><span class="home-text07" routerLink="/Administrateur/GestionDeFormation/Accueil"><p-button label="Gestion des formations" [text]="true"></p-button></span
            ><span class="home-text08" routerLink="/Administrateur/GestionDeParticipant/Accueil"><p-button label="Gestion des participants" [text]="true"></p-button></span
            ><span class="home-text08" routerLink="/Administrateur/GestionDinscription/Accueil"><p-button label="Gestion d'inscription" [text]="true"></p-button></span
            ><span class="home-text12" routerLink="/" (click)="Deconnecter()"><span><p-button label="Se Deconnecter" [text]="true"></p-button></span><br /></span></nav
          ><div class="home-profile"
          ><div class="home-container04"
            ></div
          ></div
        ></div
      > 
      <mat-card class="demo-inline-calendar-card" style="width: 800px;   background-color: #cadbeb; margin-top: var(--dl-space-space-oneandhalfunits); font-size: 50px;">
        <mat-calendar [(selected)]="selected"></mat-calendar>
      </mat-card>
      
    </div></div
></div>
