:host { 
    display: contents; 
  }
  .home-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    padding-top: 0px;
    padding-left: 300px;
    padding-right: 300px;
    flex-direction: column;
    padding-bottom: 0px;
    justify-content: flex-start;
    background-image: url("Untitled.png");
      background-size: cover;
      background-position: center;
      /* Définir la hauteur à 100vh pour qu'elle occupe toute la hauteur de l'écran */
      height: 100vh;
    
  }
  .home-container1 {
    width: 100%;
    height: 1000px;
    display: ruby;
    padding: var(--dl-space-space-fourunits);
    align-items: flex-start;
    padding-top: 10%;
	
  }

  section {
    display: table;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    max-width: 600px;
  }
  
  .example-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }
  /*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

  .input {
    max-width: 190px;
    display: none;
  }
  
  .labelFile {
    display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 150px;
  
  align-items: center;
  text-align: center;
  padding: 10px;
  color: #404040;
  cursor: pointer;
  margin-bottom: 16px;
  border-radius: 10px;
  }
  


  


/* COMMON STYLES*/
.popup {
  margin: 10px;
  box-shadow: 4px 4px 10px -10px rgba(0, 0, 0, 1);
  width: 300px;
  justify-content: space-around;
  align-items: center;
  display: flex;
  border-radius: 4px;
  padding: 5px 0;
  font-weight: 300;
}
.popup svg {
  width: 1.25rem;
  height: 1.25rem;
}
.popup-icon svg {
  margin: 5px;
  display: flex;
  align-items: center;
}
.close-icon {
  margin-left: auto;
}
.close-svg {
  cursor: pointer;
}
.close-path {
  fill: grey;
}

/*SEPERATE STYLES*/

/* SUCCESS */
.success-popup {
  background-color: #edfbd8;
  border: solid 1px #84d65a;
}
.success-icon path {
  fill: #84d65a;
}
.success-message {
  color: #2b641e;
}

/* ALERT */
.alert-popup {
  background-color: #fefce8;
  border: solid 1px #facc15;
}
.alert-icon path {
  fill: #facc15;
}
.alert-message {
  color: #ca8a04;
}

/* ERROR */

.error-popup {
  background-color: #fef2f2;
  border: solid 1px #f87171;
}
.error-icon path {
  fill: #f87171;
}
.error-message {
  color: #991b1b;
}

/* INFO */

.info-popup {
  background-color: #eff6ff;
  border: solid 1px #1d4ed8;
}
.info-icon path {
  fill: #1d4ed8;
}
.info-message {
  color: #1d4ed8;
}


