<div style="margin-top: 8.5%;">
    <div class="paragraphe">
         <div class>
              <div>
                   <h1 class="text-focus-in">
                        <span style="color: darkgray;">Bienvenue À
                             <p>EduXcellence</p></span>
                   </h1>
                   <h1 class="text-focus-in-2">
                        <span style="color: darkgray;">Votre Destination De
                             Choix Pour Le Développement
                             Professionnel</span>
                   </h1>
              </div>
         </div>
    </div>
</div>
<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<div class="boxblue" style="margin-bottom: 80px;">
    <div class="css-1gqo5qy">
         <div
              class="cds-9 css-0 cds-10 cds-11 cds-grid-item cds-13 cds-30">
              <div class="BEduXcellence">
                   <span class="textE">EduXcellence</span>
              </div>
              <div class="boxtext">
                   <div class="_u39gw4">
                        Bienvenue sur notre plateforme d'apprentissage en
                        ligne, où l'éducation devient une aventure interactive
                        et accessible à tous.
                        Notre mission est de créer une expérience
                        d'apprentissage dynamique et enrichissante, permettant
                        à chacun de découvrir et d'explorer librement une
                        multitude de sujets fascinants.
                        Que vous soyez passionné par l'informatique, les langues étrangères ou toute autre
                        discipline, notre plateforme est conçue pour répondre à
                        vos besoins et stimuler votre curiosité intellectuelle.
                        Avec une équipe dévouée de formateurs qualifiés et des
                        programmes de formation adaptés à vos compétences et
                        intérêts, vous pouvez démarrer votre parcours
                        d'apprentissage dès maintenant.
                        Rejoignez notre communauté d'apprentissage et embarquez
                        pour un voyage d'exploration, de découverte et de
                        croissance personnelle.
                   </div>
              </div>
         </div>
         <div style="margin-right: 300px;">
         </div>
         <div class="cds-9 css-0 cds-11 cds-grid-item">
              <!--<a href="http://"><img
                        src="http://www.cni.tn/images/loGo-cni.png.pagespeed.ce.SP92KonlfD.png"
                        alt="Logo CNI"
                        style="position: absolute; width: 4.5%; left: 85%; "></a>-->
                        <img style="width: 100px; border-radius: 50%; right: 28%; bottom: 47%; position: absolute;" src="https://th.bing.com/th/id/OIG2.9yAdm2O23fK8V4r5ZdRx?w=1024&h=1024&rs=1&pid=ImgDetMain" alt="Logo EduXcellence">
              <img class="img0"
                   src="https://www.credibly.com/wp-content/uploads/revenue-based-business-loans.png"
                   alt="Formation" srcset>
         </div>
    </div>
</div>