
<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<div class="p1" style="color: black;">
     <div style="color: rgb(255, 255, 255); font-weight: 300; justify-content: center; background-color: #503D83; border-radius: 10px; font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;">
          &nbsp;Les Formations&nbsp;
     </div>
</div>
<div style="  width: 95%; height: 85px; border-radius: 15px; margin: -10px auto 80px auto; text-align: center; font-family: 'Source Sans Pro', Arial, sans-serif; color: #503D83; background-color: #DBEEF6;">
   <strong> <br> <div style="font-size: 16px; word-wrap: break-word; width: 95%; margin: auto;"> Nous offrons aux formateurs la possibilité de partager leur expertise dans une variété de domaines captivants. Que vous soyez un professionnel chevronné ou un passionné désireux de transmettre vos connaissances, nous vous invitons à choisir parmi une multitude de thèmes disponibles pour concevoir des cours engageants et pertinents. Que vous soyez intéressé par le développement personnel, la technologie</div><br></strong>

</div>
<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<div class="BlockCards">
     <div class="card">
          <div class="card-details">
            <p class="text-title">Card title</p>
            <p class="text-body">Here are the details of the card</p>
          </div>
          <button (click)="openDialog()" class="card-button" >More info</button>
        </div>
        <div class="card">
          <div class="card-details">
            <p class="text-title">Card title</p>
            <p class="text-body">Here are the details of the card</p>
          </div>
          <button (click)="openDialog()" class="card-button" >More info</button>
        </div>
</div>

<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

<!---------------------------------------code html de component les offres ---------------------------------------------------------------------------
<div class="p1" style="color: black;">
     <div style="color: rgb(0, 0, 0); justify-content: center; background-color: #DBEEF6; border-radius: 10px; ">
          &nbsp;Les Offres&nbsp;
     </div>
</div>

<div class="BlockCards" >
 <div class="card">
   <div class="card-details" routerLink="/Authentification/Connexion/Participant">
     <p class="text-title">Card title</p>
     <p class="text-body">Here are the details of the card</p>
   </div>
   <button  (click)="openDialog()" class="card-button" >Plus d’infos</button>
 </div>
     </div>
     
<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<div><hr style="width: 95%;"></div>
<div class="pb">
     <h2 class="p1">
          Investissez dans votre carrière avec EduXcellence Plus
     </h2>
     <div class="bb">
          <div class="bp2">
               <p class="p12">
                    Accédez à plus de 90 % des cours, Spécialisations et
                    Certificats
                    Professionnels, dispensés par les meilleurs enseignants
                    d’universités et d’entreprises de premier plan.
               </p>
          </div>
          <div class="bbd">
               <div
                    class="ddddd">
                    <div class="bimg">
                         <img class="img1"
                              src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera_assets.s3.amazonaws.com/images/00b4aa50ad9e3233e50c4a39e3df94f0.png?auto=format%2Ccompress&dpr=1&h=55"
                              alt>
                    </div> <div class="gdfgdfg">
                         Apprenez ce que vous souhaitez
                    </div>
                    <div class="p2">
                         Explorez tous les sujets tendance ou qui vous
                         intéressent, tenez compte des prérequis et
                         perfectionnez vos compétences
                    </div>
               </div>
               <div
                    class="ddddd">
                    <div class="bimg">
                         <img class="img2"
                              src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera_assets.s3.amazonaws.com/images/73feba6a844effd3a1116ba46b805171.png?auto=format%2Ccompress&dpr=1&h=47"
                              alt>
                    </div> <div class="gdfgdfg">
                         Économisez de l'argent
                    </div> <div class="p2">
                         Dépensez moins d'argent pour votre apprentissage si
                         vous prévoyez de suivre plusieurs cours cette année
                    </div>
               </div>
               <div
                    class="ddddd">
                    <div class="bimg">
                         <img class="img3"
                              src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera_assets.s3.amazonaws.com/images/52653c8817c0031d547d6df9251e52ef.png?auto=format%2Ccompress&dpr=1&h=55"
                              alt>
                    </div> <div class="gdfgdfg">
                         Apprentissage flexible
                    </div> <div class="p2">
                         Apprenez à votre propre rythme, alternez entre
                         différents cours ou passez à un cours différent
                    </div>
               </div>
               <div
                    class="ddddd">
                    <div class="bimg">
                         <img class="img4"
                              src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://coursera_assets.s3.amazonaws.com/images/54e0e0ac5da4f6184bda8d9a69ebf237.png?auto=format%2Ccompress&dpr=1&h=40"
                              alt>
                    </div> <div class="gdfgdfg">
                         Certificats illimités
                    </div> <div class="p2">
                         Obtenez un certificat pour chaque programme
                         d'apprentissage que vous terminez, sans coût
                         supplémentaire
                    </div>
               </div>
          </div>
     </div>
</div>
<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
