<div>
     <h2 class="p0">
     Investissez dans votre carrière avec EduXcellence Plus
</h2>
<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<div class="p1" style="color: black;">
     <div style="color: rgb(255, 255, 255); font-weight: 300; justify-content: center; background-color: #503D83; border-radius: 10px; font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;">
          &nbsp;Les Formations&nbsp;
     </div>
</div>
<div style="  width: 95%; height: 85px; border-radius: 15px; margin: -10px auto 80px auto; text-align: center; font-family: 'Source Sans Pro', Arial, sans-serif; color: #503D83; background-color: #DBEEF6;">
   <strong> <br> <div style="font-size: 16px; word-wrap: break-word; width: 95%; margin: auto;"> Nous offrons aux formateurs la possibilité de partager leur expertise dans une variété de domaines captivants. Que vous soyez un professionnel chevronné ou un passionné désireux de transmettre vos connaissances, nous vous invitons à choisir parmi une multitude de thèmes disponibles pour concevoir des cours engageants et pertinents</div><br></strong>

</div>
<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<div class="BlockCards" >
     <div *ngFor="let formation of listeFormation">
     <div class="card" >
          <div class="card-details">
               <p class="text-title">{{formation.themeFormation}}</p>
               <p class="text-body">DD: {{formatDate(formation.datedebut)}}</p>
               <p class="text-body">DF: {{formatDate(formation.datefin)}}</p>
          </div>
          <button (click)="openDialog(formation.idformation)" class="card-button">More info</button>
          
        </div>
</div>   
</div>

<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

<!---------------------------------------code html de component les offres ---------------------------------------------------------------------------
<div class="p1" style="color: black;">
     <div style="color: rgb(0, 0, 0); justify-content: center; background-color: #DBEEF6; border-radius: 10px; ">
          &nbsp;Les Offres&nbsp;
     </div>
</div>

<div class="BlockCards" >
 <div class="card">
   <div class="card-details" routerLink="/Authentification/Connexion/Participant">
     <p class="text-title">Card title</p>
     <p class="text-body">Here are the details of the card</p>
   </div>
   <button  (click)="openDialog()" class="card-button" >Plus d’infos</button>
 </div>
     </div>
     
<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->
<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

<!---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------->

</div>
