<div class="home-container"
  ><div class="home-container01"
    ><div class="home-container02"
      ><span class="home-text"><span>Administrateur</span><br /></span
      ><p class="home-text03">Contact</p></div
    ><div class="home-container03"
      ><div class="home-sidebar"
        ><nav class="home-nav"
        ><span class="home-text04" routerLink="/Administrateur/Dashboard"><p-button label="Dashboard" [text]="true"></p-button></span
            ><span class="home-text05" routerLink="/Administrateur/Calendrier"><p-button label="Calendrier" [text]="true"></p-button></span
            ><span class="home-text06" routerLink="/Administrateur/GestionDesFormateurs/Accueil"><p-button label="Gestion des formateurs" [text]="true"></p-button></span
            ><span class="home-text07" routerLink="/Administrateur/GestionDeFormation/Accueil"><p-button label="Gestion des formations" [text]="true"></p-button></span
            ><span class="home-text08" routerLink="/Administrateur/GestionDinscription/Accueil"><p-button label="Gestion d&apos;inscription" [text]="true"></p-button></span
            ><span class="home-text09" routerLink="/Administrateur/Profile"><span><p-button label="Profile" [text]="true"></p-button></span><br /></span
            ><span class="home-text12" routerLink="/Administrateur/inboxEmail"><span><p-button label="Help" [text]="true"></p-button></span><br /></span></nav
          ><div class="home-profile"
          ><img
            alt="image"
            src="https://images.unsplash.com/photo-1562159278-1253a58da141?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDIyfHxtYW4lMjBwb3J0dHJhaXR8ZW58MHx8fHwxNjI3MjkzNTM1&amp;ixlib=rb-1.2.1&amp;w=200"
            class="home-image"
          /><div class="home-container04"
            ><span class="home-text15">John Doe</span
            ><span class="home-text16">View Profile</span></div
          ></div
        ></div
      ></div></div
></div>
