
  /*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

  /*fonts*/
$code: "Inconsolata";
$text: "Montserrat";
/*colors*/
$navbar: rgba(255, 255, 255, 0.5);
$dark-gray: rgb(36, 45, 57);
$yellow:  rgb(219, 238, 246);
  
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



#main-doc {
  width: 100%;
  background-color: rgb(255, 255, 255);
  position: fixed;
  top: 0;
  left: 0;
  
    #nav-bar {
      display: flex;
      align-items: center;
      justify-content: center;
      position: sticky;
      /*position: relative;*/
      width: 100%;
      height: 80px;
      background-color: $navbar;
      margin: 0px auto 0;
      border-radius: 10px;
      text-align: center;
      @media screen and (max-width: 780px) {
    width: 550px;
  }
      @media screen and (max-width: 600px) {
    width: 450px; 
  }
     @media screen and (max-width: 500px) {
    width: 400px; 
  }
      @media screen and (max-width: 470px) {
        width: 85%;
        height: 50px;
      }
  }
  
  a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    position: relative;
    display: inline-block;
  }
  
  .fa-github {
      font-size: 52px;
      margin-left: 15px;
    }
  #nav-ul {
    @media screen and (max-width: 560px) {
    margin-left: 54px;
  }
    li {
      list-style-type: none;
      font-family: $text;
      font-size: 1.27rem;
      display: inline;
      margin: 16px;
      @media screen and (max-width: 780px) {
   font-size: 1.05rem;
   margin: 12px;
  }
      @media screen and (max-width: 560px) {
    font-size: 0.9rem; 
    margin: 8px;
  }
    }
    a {
      line-height: 52px;
      border-radius: 10px;
      transition: background-color 0.3s, color 0.3s;
    }
    a:hover {
      background: $yellow;
      color: $dark-gray;
    }
    a:onclick {
      background: black;
      color: white;
    }
   }
  }


  