<!---------------------------------------Begin-Background--------------------------------------------------->
<div class="Background">
  <!---------------------------------------Begin-Background--------------------------------------------------->

  <!------------------------------------------Begin-Icon------------------------------------------------------>

  <!--------------------------------------------End-Icon------------------------------------------------------->

  <!----------------------------------------Begin-Cards--------------------------------------------------->

  <div class="card_image"
    style="width: 230px; position: absolute; top: 61%; right: 31%;">
    <img width="95" height="95" 
      src="https://img.icons8.com/parakeet-line/100/teacher.png" alt="teacher"
      style=" display: block; margin: auto auto 10px auto; " />
    <a class="playstore-button" routerLink="/Authentification/Connexion/Formateur" >
      <span class="texts">
        <span class="text-2">Formateur</span>
      </span>
    </a>
  </div>

  <div class="card_image"
    style="width: 230px; position: absolute; top: 60%; right: 45%;">
    <img width="105" height="105"
      src="https://img.icons8.com/windows/100/system-administrator-male.png"
      alt="system-administrator-male"
      style=" display: block; margin: auto auto 10px auto; "/>
    <a class="playstore-button" routerLink="/Authentification/Connexion/Administrateur">
      <span class="texts">
        <span class="text-2">Administrateur</span>
      </span>
    </a>
  </div>

  <div class="card_image"
    style="width: 230px; position: absolute; top: 60.7%; right: 60%;">
    <img width="100" height="100"
      src="https://img.icons8.com/ios-filled/100/conference-foreground-selected.png"
      alt="conference-foreground-selected" style=" display: block; margin: auto auto 10px auto;  " />
    <a class="playstore-button" routerLink="/Authentification/Connexion/Participant">
      <span class="texts">
        <span class="text-2">Participant</span>
      </span>
    </a>
  </div>

  <!---------------------------------------End-Cards--------------------------------------------------->
</div>