

/*--------------------------------------------------------------------Big-Block-word-------------------------------------------------------------------------------------------------------*/

div .cds-9 css-0 cds-10 cds-11 cds-grid-item cds-13 cds-30 {
	/* Font & Text */
	font-family: OpenSans, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	letter-spacing: normal;
	line-height: 21px;
	text-decoration: none solid rgb(55, 58, 60);
	text-align: start;
	text-indent: 0px;
	text-transform: none;
	vertical-align: baseline;
	white-space: normal;
	word-spacing: 0px;


	/* Color & Background */
	background-attachment: scroll;
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(55, 58, 60);

	/* Box */
	height: 461px;
	width: 6984px;
	border: 0px none rgb(55, 58, 60);
	border-top: 0px none rgb(55, 58, 60);
	border-right: 0px none rgb(55, 58, 60);
	border-bottom: 0px none rgb(55, 58, 60);
	border-left: 0px none rgb(55, 58, 60);
	margin-right: 100px;
	padding: 16px;
	max-height: none;
	min-height: auto;
	max-width: none;
	min-width: auto;

	/* Positioning */

	top: auto;
	bottom: auto;
	right: auto;
	left: auto;
	float: none;
	display: flex;
	clear: none;
	z-index: auto;

	/* List */
	list-style-image: none;
	list-style-type: disc;
	list-style-position: outside;

	/* Table */
	border-collapse: separate;
	border-spacing: 0px 0px;
	caption-side: top;
	empty-cells: show;
	table-layout: auto;

	/* Miscellaneous */
	overflow: visible;
	cursor: auto;
	visibility: visible;

	/* Effects */
	transform: none;
	transition: all 0s ease 0s;
	outline-offset: 0px;
	box-sizing: border-box;
	resize: none;
	text-shadow: none;
	text-overflow: clip;
	word-wrap: normal;
	box-shadow: none;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

/*-----------------------------------------------------------------------First-Block-------------------------------------------------------------------------------------------------------*/

div .css-1gqo5qy {

	/*Font&Text*/
	font-family: OpenSans, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	letter-spacing: normal;
	line-height: 21px;
	text-decoration: none solid rgb(55, 58, 60);
	text-align: start;
	text-indent: 0px;
	text-transform: none;
	vertical-align: baseline;
	white-space: normal;
	word-spacing: 0px;

	/*Color&Background*/
	background-attachment: scroll;
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(55, 58, 60);

	/*Box*/
	height: 469px;
	width: 1500px;
	border: 0px none rgb(55, 58, 60);
	border-top: 0px none rgb(55, 58, 60);
	border-right: 0px none rgb(55, 58, 60);
	border-bottom: 0px none rgb(55, 58, 60);
	border-left: 0px none rgb(55, 58, 60);
	margin: auto;
	padding: 20px;
	max-height: none;
	min-height: 0px;
	max-width: 1900px;
	min-width: 0px;


	/*Positioning*/
	position: static;
	top: auto;
	bottom: auto;
	right: auto;
	left: auto;
	float: none;
	display: flex;
	clear: none;
	z-index: auto;

	/*List*/
	list-style-image: none;
	list-style-type: disc;
	list-style-position: outside;

	/*Table*/
	border-collapse: separate;
	border-spacing: 0px 0px;
	caption-side: top;
	empty-cells: show;
	table-layout: auto;

	/*Miscellaneous*/
	overflow: visible;
	cursor: auto;
	visibility: visible;

	/*Effects*/
	transform: none;
	transition: all 0s ease 0s;
	outline-offset: 0px;
	box-sizing: border-box;
	resize: none;
	text-shadow: none;
	text-overflow: clip;
	word-wrap: normal;
	box-shadow: none;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	-webkit-transition: all 0s ease 0s;
	-moz-transition: all 0s ease 0s;
	-ms-transition: all 0s ease 0s;
	-o-transition: all 0s ease 0s;
}

/*------------------------------------------------------------------Box-text-1------------------------------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


/*-------------------------------------------------------------------------box-text-2-----------------------------------------------------------------------------------------------------*/


/*---------------------------------------------------------------------------------text-EduXcellence------------------------------------------------------------------------------------------------------*/

.textE {
	position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(50%, -50%);
	font-family: "Source Sans Pro", Arial, sans-serif;
	font-size: 4em;
	font-weight: 500;
	color: #44A2AB;
	
	text-align: center;

	/* Positioning */
	position: static;
	top: auto;
	bottom: auto;
	right: auto;
	left: auto;
	float: none;
	display: inline;
	clear: none;
	z-index: auto;


	/* List */
	list-style-image: none;
	list-style-type: disc;
	list-style-position: outside;

	/* Table */
	border-collapse: separate;
	border-spacing: 0px 0px;
	caption-side: top;
	empty-cells: show;
	table-layout: auto;

	/* Miscellaneous */
	overflow: clip;
	cursor: auto;
	visibility: visible;


}

/*------------------------------------------------------------Block-EduXcellence---------------------------------------------------------------------------------------------------------------------*/

div .BEduXcellence {
	/* Font & Text */
	font-family: OpenSans, Arial, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	letter-spacing: normal;
	line-height: 21px;
	text-decoration: none solid rgb(55, 58, 60);
	text-align: center;
	text-indent: 0px;
	text-transform: none;
	vertical-align: baseline;
	white-space: normal;
	word-spacing: 0px;

	/* Color & Background */
	background-attachment: scroll;
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(55, 58, 60);

	/* Box */
	height: 47px;
	width: 852px;
	border: 0px none rgb(55, 58, 60);
	border-top: 0px none rgb(55, 58, 60);
	border-right: 0px none rgb(55, 58, 60);
	border-bottom: 0px none rgb(55, 58, 60);
	border-left: 0px none rgb(55, 58, 60);
	margin: 20px 0px 30px 0px;
	padding: 0px;
	max-height: none;
	min-height: auto;
	max-width: none;
	min-width: auto;

	/* Positioning */
	position: static;
	top: auto;
	bottom: auto;
	right: auto;
	left: auto;
	float: none;
	display: block;
	clear: none;
	z-index: auto;

	/* List */
	list-style-image: none;
	list-style-type: disc;
	list-style-position: outside;

	/* Table */
	border-collapse: separate;
	border-spacing: 0px 0px;
	caption-side: top;
	empty-cells: show;
	table-layout: auto;

	/* Miscellaneous */
	overflow: visible;
	cursor: auto;
	visibility: visible;

	/* Effects */
	transform: none;
	transition: all 0s ease 0s;

	outline-offset: 0px;
	box-sizing: border-box;
	resize: none;
	text-shadow: none;
	text-overflow: clip;
	word-wrap: normal;
	box-shadow: none;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

/*-----------------------------------------------------------------------Partie-2-Big-Block-------------------------------------------------------------------------------------------*/

.pb {
	/* Font & Text */
	font-family: OpenSans, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	letter-spacing: normal;
	line-height: 21px;
	text-decoration: none solid rgb(55, 58, 60);
	text-align: center;
	text-indent: 0px;
	text-transform: none;
	vertical-align: baseline;
	white-space: normal;
	word-spacing: 0px;

	/* Color & Background */
	background-attachment: scroll;
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(55, 58, 60);

	/* Box */
	height: auto;
	width: max-content;
	border: 0px none rgb(55, 58, 60);
	border-top: 0px none rgb(55, 58, 60);
	border-right: 0px none rgb(55, 58, 60);
	border-bottom: 0px none rgb(55, 58, 60);
	border-left: 0px none rgb(55, 58, 60);
	margin: auto;
	padding: 0px 24px;
	max-height: none;
	min-height: 0px;

	min-width: 0px;

	/* Positioning */

	display: block;


	/* List */
	list-style-image: none;
	list-style-type: disc;
	list-style-position: outside;

	/* Table */
	border-collapse: separate;
	border-spacing: 0px 0px;
	caption-side: top;
	empty-cells: show;
	table-layout: auto;

	/* Miscellaneous */
	overflow: visible;
	cursor: auto;
	visibility: visible;

	/* Effects */
	transform: none;
	transition: all 0s ease 0s;
	outline-offset: 0px;
	box-sizing: border-box;
	resize: none;
	text-shadow: none;
	text-overflow: clip;
	word-wrap: normal;
	box-shadow: none;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

/*----------------------------------------------------------------------P2-Block-Text-----------------------------------------------------------------------------------------------*/

.p1 {
	/* Font & Text */
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 34px;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	letter-spacing: -0.1px;
	line-height: 52px;
	text-decoration: none solid rgb(31, 31, 31);
	text-align: center;
	text-indent: 0px;
	text-transform: none;
	vertical-align: baseline;
	white-space: normal;
	word-spacing: 0px;

	/* Color & Background */
	background-attachment: scroll;
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(31, 31, 31);

	/* Box */
	height: 132px;
	width: 95%;
	border: 0px none rgb(31, 31, 31);
	border-top: 0px none rgb(31, 31, 31);
	border-right: 0px none rgb(31, 31, 31);
	border-bottom: 0px none rgb(31, 31, 31);
	border-left: 0px none rgb(31, 31, 31);
	margin: 0px auto 0px auto;
	padding: 44px 0px 16px;
	max-height: none;
	min-height: 0px;
	max-width: 100%;
	min-width: 0px;

	/* Positioning */
	position: static;
	top: auto;
	bottom: auto;
	right: auto;
	left: auto;
	float: none;
	display: block;
	clear: none;
	z-index: auto;

	/* List */
	list-style-image: none;
	list-style-type: disc;
	list-style-position: outside;

	/* Table */
	border-collapse: separate;
	border-spacing: 0px 0px;
	caption-side: top;
	empty-cells: show;
	table-layout: auto;

	/* Miscellaneous */
	overflow: visible;
	cursor: auto;
	visibility: visible;

	/* Effects */
	transform: none;
	transition: all 0s ease 0s;
	outline-offset: 0px;
	box-sizing: border-box;
	resize: none;
	text-shadow: none;
	text-overflow: clip;
	word-wrap: normal;
	box-shadow: none;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
/*----------------------------------------------------------------------P2-Block-Text-----------------------------------------------------------------------------------------------*/

.p0 {
	/* Font & Text */
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 34px;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	letter-spacing: -0.1px;
	line-height: 52px;
	text-decoration: none solid rgb(31, 31, 31);
	text-align: center;
	text-indent: 0px;
	text-transform: none;
	vertical-align: baseline;
	white-space: normal;
	word-spacing: 0px;

	/* Color & Background */
	background-attachment: scroll;
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(31, 31, 31);

	/* Box */
	height: 100px;
	width: 95%;
	border: 0px none rgb(31, 31, 31);
	border-top: 0px none rgb(31, 31, 31);
	border-right: 0px none rgb(31, 31, 31);
	border-bottom: 0px none rgb(31, 31, 31);
	border-left: 0px none rgb(31, 31, 31);
	margin: 100px auto 0px 0px;
	padding: 44px 0px 16px;
	max-height: none;
	min-height: 0px;
	max-width: 100%;
	min-width: 0px;

	/* Positioning */
	position: static;
	top: auto;
	bottom: auto;
	right: auto;
	left: auto;
	float: none;
	display: block;
	clear: none;
	z-index: auto;

	/* List */
	list-style-image: none;
	list-style-type: disc;
	list-style-position: outside;

	/* Table */
	border-collapse: separate;
	border-spacing: 0px 0px;
	caption-side: top;
	empty-cells: show;
	table-layout: auto;

	/* Miscellaneous */
	overflow: visible;
	cursor: auto;
	visibility: visible;

	/* Effects */
	transform: none;
	transition: all 0s ease 0s;
	outline-offset: 0px;
	box-sizing: border-box;
	resize: none;
	text-shadow: none;
	text-overflow: clip;
	word-wrap: normal;
	box-shadow: none;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
/*------------------------------------------------------------------P2-Block-Text2-1--------------------------------------------------------------------------------------------------*/
.bp2 {
	/* Font & Text */
	font-family: OpenSans, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	letter-spacing: normal;
	line-height: 21px;
	text-decoration: none solid rgb(55, 58, 60);
	text-align: center;
	text-indent: 0px;
	text-transform: none;
	vertical-align: baseline;
	white-space: normal;
	word-spacing: 0px;

	/* Color & Background */
	background-attachment: scroll;
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(55, 58, 60);

	/* Box */
	height: 0px;
	width: max-content;
	border: 0px none rgb(55, 58, 60);
	border-top: 0px none rgb(55, 58, 60);
	border-right: 0px none rgb(55, 58, 60);
	border-bottom: 0px none rgb(55, 58, 60);
	border-left: 0px none rgb(55, 58, 60);
	margin: 0px auto 10% auto;
	padding: 0px;

	min-width: auto;

	/* Positioning */
	position: static;
	top: auto;
	bottom: auto;
	right: auto;
	left: auto;
	float: none;
	display: block;
	clear: none;
	z-index: auto;

	/* List */
	list-style-image: none;
	list-style-type: disc;
	list-style-position: outside;

	/* Table */
	border-collapse: separate;
	border-spacing: 0px 0px;
	caption-side: top;
	empty-cells: show;
	table-layout: auto;

	/* Miscellaneous */
	overflow: visible;
	cursor: auto;
	visibility: visible;

	/* Effects */
	transform: none;
	transition: all 0s ease 0s;
	outline-offset: 0px;
	box-sizing: border-box;
	resize: none;
	text-shadow: none;
	text-overflow: clip;
	word-wrap: normal;
	box-shadow: none;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

/*------------------------------------------------------------------P2-Block-Text2-2-------------------------------------------------------------------------------------------------------*/

.p12 {
	/* Font & Text */
	font-family: "Source Sans Pro", Arial, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	letter-spacing: normal;
	line-height: 24px;
	text-decoration: none solid rgb(31, 31, 31);
	text-align: center;
	text-indent: 0px;
	text-transform: none;
	vertical-align: baseline;
	white-space: normal;
	word-spacing: 0px;

	/* Color & Background */
	background-attachment: scroll;
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(31, 31, 31);

	/* Box */
	height: 48px;
	width: 718px;
	border: 0px none rgb(31, 31, 31);
	border-top: 0px none rgb(31, 31, 31);
	border-right: 0px none rgb(31, 31, 31);
	border-bottom: 0px none rgb(31, 31, 31);
	border-left: 0px none rgb(31, 31, 31);
	margin: -15px 25px 0px 25px;
	padding: 0px;
	max-height: none;
	min-height: 0px;
	max-width: 100%;
	min-width: 0px;

	/* Positioning */
	position: static;
	top: auto;
	bottom: auto;
	right: auto;
	left: auto;
	float: none;
	display: block;
	clear: none;
	z-index: auto;

	/* List */
	list-style-image: none;
	list-style-type: disc;
	list-style-position: outside;

	/* Table */
	border-collapse: separate;
	border-spacing: 0px 0px;
	caption-side: top;
	empty-cells: show;
	table-layout: auto;

	/* Miscellaneous */
	overflow: visible;
	cursor: auto;
	visibility: visible;

	/* Effects */
	transform: none;
	transition: all 0s ease 0s;
	outline-offset: 0px;
	box-sizing: border-box;
	resize: none;
	text-shadow: none;
	text-overflow: clip;
	word-wrap: normal;
	box-shadow: none;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

/*-------------------------------------------------------------Big-Block-----------------------------------------------------------------------------------------------------------*/

.bb {
	/* Font & Text */
	font-family: OpenSans, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	letter-spacing: normal;
	line-height: 21px;
	text-decoration: none solid rgb(55, 58, 60);
	text-align: start;
	text-indent: 0px;
	text-transform: none;
	vertical-align: baseline;
	white-space: normal;
	word-spacing: 0px;

	/* Color & Background */
	background-attachment: scroll;
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(55, 58, 60);

	/* Box */
	height: 395px;
	width: max-content;
	border: 0px none rgb(55, 58, 60);
	border-top: 0px none rgb(55, 58, 60);
	border-right: 0px none rgb(55, 58, 60);
	border-bottom: 0px none rgb(55, 58, 60);
	border-left: 0px none rgb(55, 58, 60);
	margin: auto;
	padding: 0px;
	max-height: none;
	min-height: 0px;
	max-width: none;
	min-width: 0px;

	/* Positioning */
	position: static;
	top: auto;
	bottom: auto;
	right: auto;
	left: auto;
	float: none;
	display: block;
	clear: none;
	z-index: auto;

	/* List */
	list-style-image: none;
	list-style-type: disc;
	list-style-position: outside;

	/* Table */
	border-collapse: separate;
	border-spacing: 0px 0px;
	caption-side: top;
	empty-cells: show;
	table-layout: auto;

	/* Miscellaneous */
	overflow: visible;
	cursor: auto;
	visibility: visible;

	/* Effects */
	transform: none;
	transition: all 0s ease 0s;
	outline-offset: 0px;
	box-sizing: border-box;
	resize: none;
	text-shadow: none;
	text-overflow: clip;
	word-wrap: normal;
	box-shadow: none;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.bimg {
	/* Font & Text */
	font-family: OpenSans, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	letter-spacing: normal;
	line-height: 21px;
	text-decoration: none solid rgb(55, 58, 60);
	text-align: start;
	text-indent: 0px;
	text-transform: none;
	vertical-align: baseline;
	white-space: normal;
	word-spacing: 0px;

	/* Color & Background */
	background-attachment: scroll;
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(55, 58, 60);

	/* Box */
	height: 57px;
	width: 262px;
	border: 0px none rgb(55, 58, 60);
	border-top: 0px none rgb(55, 58, 60);
	border-right: 0px none rgb(55, 58, 60);
	border-bottom: 0px none rgb(55, 58, 60);
	border-left: 0px none rgb(55, 58, 60);
	margin: 0px 0px 16px;
	padding: 0px;
	max-height: none;
	min-height: 0px;
	max-width: none;
	min-width: 0px;
	justify-content: center;

	/* Positioning */
	position: static;
	top: auto;
	bottom: auto;
	right: auto;
	left: auto;
	float: none;
	display: flex;
	clear: none;
	z-index: auto;

	/* List */
	list-style-image: none;
	list-style-type: disc;
	list-style-position: outside;

	/* Table */
	border-collapse: separate;
	border-spacing: 0px 0px;
	caption-side: top;
	empty-cells: show;
	table-layout: auto;

	/* Miscellaneous */
	overflow: visible;
	cursor: auto;
	visibility: visible;

	/* Effects */
	transform: none;
	transition: all 0s ease 0s;
	outline-offset: 0px;
	box-sizing: border-box;
	resize: none;
	text-shadow: none;
	text-overflow: clip;
	word-wrap: normal;
	box-shadow: none;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.ddddd {
	/* Font & Text */
	font-family: OpenSans, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	letter-spacing: normal;
	line-height: 21px;
	text-decoration: none solid rgb(55, 58, 60);
	text-align: start;
	text-indent: 0px;
	text-transform: none;
	vertical-align: baseline;
	white-space: normal;
	word-spacing: 0px;

	/* Color & Background */
	background-attachment: scroll;
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(55, 58, 60);

	/* Box */
	height: 225px;
	width: 288px;
	border: 0px none rgb(55, 58, 60);
	border-top: 0px none rgb(55, 58, 60);
	border-right: 0px none rgb(55, 58, 60);
	border-bottom: 0px none rgb(55, 58, 60);
	border-left: 0px none rgb(55, 58, 60);
	margin: 0px 10px;
	padding: 12px;
	max-height: none;
	min-height: auto;

	min-width: auto;

	/* Positioning */
	position: static;
	top: auto;
	bottom: auto;
	right: auto;
	left: auto;
	float: none;
	display: inline-block;
	clear: none;
	z-index: auto;

	/* List */
	list-style-image: none;
	list-style-type: disc;
	list-style-position: outside;

	/* Table */
	border-collapse: separate;
	border-spacing: 0px 0px;
	caption-side: top;
	empty-cells: show;
	table-layout: auto;

	/* Miscellaneous */
	overflow: visible;
	cursor: auto;
	visibility: visible;

	/* Effects */
	transform: none;
	transition: all 0s ease 0s;
	outline-offset: 0px;
	box-sizing: border-box;
	resize: none;
	text-shadow: none;
	text-overflow: clip;
	word-wrap: normal;
	box-shadow: none;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}




img1 {
	/* Font & Text */
	font-family: OpenSans, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	letter-spacing: normal;
	line-height: 21px;
	text-decoration: none solid rgb(55, 58, 60);
	text-align: start;
	text-indent: 0px;
	text-transform: none;
	vertical-align: middle;
	white-space: normal;
	word-spacing: 0px;

	/* Color & Background */
	background-attachment: scroll;
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(55, 58, 60);

	/* Box */
	height: 55px;
	width: 55px;
	border: 0px none rgb(55, 58, 60);
	border-top: 0px none rgb(55, 58, 60);
	border-right: 0px none rgb(55, 58, 60);
	border-bottom: 0px none rgb(55, 58, 60);
	border-left: 0px none rgb(55, 58, 60);
	margin: auto;
	padding: 0px;
	max-height: 55px;
	min-height: auto;
	max-width: none;
	min-width: auto;

	/* Positioning */
	position: static;
	top: auto;
	bottom: auto;
	right: auto;
	left: auto;
	float: none;
	display: block;
	clear: none;
	z-index: auto;

	/* List */
	list-style-image: none;
	list-style-type: disc;
	list-style-position: outside;

	/* Table */
	border-collapse: separate;
	border-spacing: 0px 0px;
	caption-side: top;
	empty-cells: show;
	table-layout: auto;

	/* Miscellaneous */
	overflow: clip;
	cursor: auto;
	visibility: visible;

	/* Effects */
	transform: none;
	transition: all 0s ease 0s;
	outline-offset: 0px;
	box-sizing: border-box;
	resize: none;
	text-shadow: none;
	text-overflow: clip;
	word-wrap: normal;
	box-shadow: none;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.img2 {
	/* Font & Text */
	font-family: OpenSans, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	letter-spacing: normal;
	line-height: 21px;
	text-decoration: none solid rgb(55, 58, 60);
	text-align: center;
	text-indent: 0px;
	text-transform: none;
	vertical-align: middle;
	white-space: normal;
	word-spacing: 0px;

	/* Color & Background */
	background-attachment: scroll;
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(55, 58, 60);

	/* Box */
	height: 47px;
	width: 72px;
	border: 0px none rgb(55, 58, 60);
	border-top: 0px none rgb(55, 58, 60);
	border-right: 0px none rgb(55, 58, 60);
	border-bottom: 0px none rgb(55, 58, 60);
	border-left: 0px none rgb(55, 58, 60);
	margin: auto;
	padding: 0px;
	max-height: 47px;
	min-height: auto;
	max-width: none;
	min-width: auto;

	/* Positioning */
	position: static;
	top: auto;
	bottom: auto;
	right: auto;
	left: auto;
	float: none;
	display: block;
	clear: none;
	z-index: auto;

	/* List */
	list-style-image: none;
	list-style-type: disc;
	list-style-position: outside;

	/* Table */
	border-collapse: separate;
	border-spacing: 0px 0px;
	caption-side: top;
	empty-cells: show;
	table-layout: auto;

	/* Miscellaneous */
	overflow: clip;
	cursor: auto;
	visibility: visible;

	/* Effects */
	transform: none;
	transition: all 0s ease 0s;
	outline-offset: 0px;
	box-sizing: border-box;
	resize: none;
	text-shadow: none;
	text-overflow: clip;
	word-wrap: normal;
	box-shadow: none;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.img3 {
	/* Font & Text */
	font-family: OpenSans, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	letter-spacing: normal;
	line-height: 21px;
	text-decoration: none solid rgb(55, 58, 60);
	text-align: start;
	text-indent: 0px;
	text-transform: none;
	vertical-align: middle;
	white-space: normal;
	word-spacing: 0px;

	/* Color & Background */
	background-attachment: scroll;
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(55, 58, 60);

	/* Box */
	height: 55px;
	width: 69px;
	border: 0px none rgb(55, 58, 60);
	border-top: 0px none rgb(55, 58, 60);
	border-right: 0px none rgb(55, 58, 60);
	border-bottom: 0px none rgb(55, 58, 60);
	border-left: 0px none rgb(55, 58, 60);
	margin: auto;
	padding: 0px;
	max-height: 55px;
	min-height: auto;
	max-width: none;
	min-width: auto;

	/* Positioning */
	position: static;
	top: auto;
	bottom: auto;
	right: auto;
	left: auto;
	float: none;
	display: block;
	clear: none;
	z-index: auto;

	/* List */
	list-style-image: none;
	list-style-type: disc;
	list-style-position: outside;

	/* Table */
	border-collapse: separate;
	border-spacing: 0px 0px;
	caption-side: top;
	empty-cells: show;
	table-layout: auto;

	/* Miscellaneous */
	overflow: clip;
	cursor: auto;
	visibility: visible;

	/* Effects */
	transform: none;
	transition: all 0s ease 0s;
	outline-offset: 0px;
	box-sizing: border-box;
	resize: none;
	text-shadow: none;
	text-overflow: clip;
	word-wrap: normal;
	box-shadow: none;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.img4 {
	/* Font & Text */
	font-family: OpenSans, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	letter-spacing: normal;
	line-height: 21px;
	text-decoration: none solid rgb(55, 58, 60);
	text-align: start;
	text-indent: 0px;
	text-transform: none;
	vertical-align: middle;
	white-space: normal;
	word-spacing: 0px;

	/* Color & Background */
	background-attachment: scroll;
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(55, 58, 60);

	/* Box */
	height: 40px;
	width: 54px;
	border: 0px none rgb(55, 58, 60);
	border-top: 0px none rgb(55, 58, 60);
	border-right: 0px none rgb(55, 58, 60);
	border-bottom: 0px none rgb(55, 58, 60);
	border-left: 0px none rgb(55, 58, 60);
	margin: auto;
	padding: 0px;
	max-height: 40px;
	min-height: auto;
	max-width: none;
	min-width: auto;

	/* Positioning */
	position: static;
	top: auto;
	bottom: auto;
	right: auto;
	left: auto;
	float: none;
	display: block;
	clear: none;
	z-index: auto;

	/* List */
	list-style-image: none;
	list-style-type: disc;
	list-style-position: outside;

	/* Table */
	border-collapse: separate;
	border-spacing: 0px 0px;
	caption-side: top;
	empty-cells: show;
	table-layout: auto;

	/* Miscellaneous */
	overflow: clip;
	cursor: auto;
	visibility: visible;

	/* Effects */
	transform: none;
	transition: all 0s ease 0s;
	outline-offset: 0px;
	box-sizing: border-box;
	resize: none;
	text-shadow: none;
	text-overflow: clip;
	word-wrap: normal;
	box-shadow: none;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.gdfgdfg {
	/* Font & Text */
	font-family: "Source Sans Pro", Arial, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	letter-spacing: normal;
	line-height: 24px;
	text-decoration: none solid rgb(31, 31, 31);
	text-align: center;
	text-indent: 0px;
	text-transform: none;
	vertical-align: baseline;
	white-space: normal;
	word-spacing: 0px;

	/* Color & Background */
	background-attachment: scroll;
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(31, 31, 31);

	/* Box */
	height: 24px;
	width: 264px;
	border: 0px none rgb(31, 31, 31);
	border-top: 0px none rgb(31, 31, 31);
	border-right: 0px none rgb(31, 31, 31);
	border-bottom: 0px none rgb(31, 31, 31);
	border-left: 0px none rgb(31, 31, 31);
	margin: 0px 0px 8px;
	padding: 0px;
	max-height: none;
	min-height: 0px;
	max-width: 100%;
	min-width: 0px;

	/* Positioning */
	position: static;
	top: auto;
	bottom: auto;
	right: auto;
	left: auto;
	float: none;
	display: block;
	clear: none;
	z-index: auto;

	/* List */
	list-style-image: none;
	list-style-type: disc;
	list-style-position: outside;

	/* Table */
	border-collapse: separate;
	border-spacing: 0px 0px;
	caption-side: top;
	empty-cells: show;
	table-layout: auto;

	/* Miscellaneous */
	overflow: visible;
	cursor: auto;
	visibility: visible;

	/* Effects */
	transform: none;
	transition: all 0s ease 0s;
	outline-offset: 0px;
	box-sizing: border-box;
	resize: none;
	text-shadow: none;
	text-overflow: clip;
	word-wrap: normal;
	box-shadow: none;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

p {
	background: linear-gradient(to right, red, yellow, green, blue, indigo, violet);
	-webkit-background-clip: text;
	background-clip: text;
	color: rgb(240, 105, 190);
	display: inline-block;
	font-family: OpenSans, Arial, sans-serif;
}

div .boxtext {
	/* Font & Text */
	font-family: OpenSans, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	letter-spacing: normal;
	line-height: 21px;
	text-decoration: none solid rgb(55, 58, 60);
	text-align: start;
	text-indent: 0px;
	text-transform: none;
	vertical-align: baseline;
	white-space: normal;
	word-spacing: 0px;

	/* Color & Background */
	background-attachment: scroll;
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(55, 58, 60);

	/* Box */
	height: 160.75px;
	width: 652px;
	border: 0px none rgb(55, 58, 60);
	border-top: 0px none rgb(55, 58, 60);
	border-right: 0px none rgb(55, 58, 60);
	border-bottom: 0px none rgb(55, 58, 60);
	border-left: 0px none rgb(55, 58, 60);
	margin: 0px;
	padding: 0px;
	max-height: none;
	min-height: auto;
	max-width: none;
	min-width: auto;

	/* Positioning */
	position: static;
	top: auto;
	bottom: auto;
	right: auto;
	left: auto;
	float: none;
	display: block;
	clear: none;
	z-index: auto;

	/* List */
	list-style-image: none;
	list-style-type: disc;
	list-style-position: outside;

	/* Table */
	border-collapse: separate;
	border-spacing: 0px 0px;
	caption-side: top;
	empty-cells: show;
	table-layout: auto;

	/* Miscellaneous */
	overflow: visible;
	cursor: auto;
	visibility: visible;

	/* Effects */
	transform: none;
	transition: all 0s ease 0s;
	outline-offset: 0px;
	box-sizing: border-box;
	resize: none;
	text-shadow: none;
	text-overflow: clip;
	word-wrap: normal;
	box-shadow: none;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}


._u39gw4 {
	/* Font & Text */
	font-family: "Source Sans Pro", Arial, sans-serif;
	font-size: 19px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	letter-spacing: normal;
	line-height: 34.2px;
	text-decoration: none solid rgb(55, 58, 60);
	text-align: center;
	text-indent: 0px;
	text-transform: none;
	vertical-align: baseline;
	white-space: normal;
	word-spacing: 0px;


	/* Color & Background */
	background-attachment: scroll;
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(55, 58, 60);

	/* Box */
	height: 140.75px;
	width: 852px;
	border: 0px none rgb(55, 58, 60);
	border-top: 0px none rgb(55, 58, 60);
	border-right: 0px none rgb(55, 58, 60);
	border-bottom: 0px none rgb(55, 58, 60);
	border-left: 0px none rgb(55, 58, 60);
	margin: -25px 0px 20px;
	padding: 0px;
	max-height: none;
	min-height: 0px;
	max-width: none;
	min-width: 0px;


	/* Positioning */
	position: static;
	top: auto;
	bottom: auto;
	right: auto;
	left: auto;
	float: none;
	display: block;
	clear: none;
	z-index: auto;

	/* List */
	list-style-image: none;
	list-style-type: disc;
	list-style-position: outside;

	/* Table */
	border-collapse: separate;
	border-spacing: 0px 0px;
	caption-side: top;
	empty-cells: show;
	table-layout: auto;

	/* Miscellaneous */
	overflow: visible;
	cursor: auto;
	visibility: visible;

	/* Effects */
	transform: none;
	transition: all 0s ease 0s;
	outline-offset: 0px;
	box-sizing: border-box;
	resize: none;
	text-shadow: none;
	text-overflow: clip;
	word-wrap: break-word;
	box-shadow: none;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.paragraphe {
	display: block;
	margin: auto;
	text-align: center;
	font-size: 20px;
	font-family: OpenSans, Arial, sans-serif;
}

.boxblue {
	margin: 0px auto 10px auto;
	background-color: rgb(219, 238, 246);
	height: 47.5%;
	margin-top: 5%;
	clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0% 100%);
	width: 95%;
	-webkit-border-radius: 20px 20px 20px 20px;
	border-radius: 20px 20px 20px 20px;
	-moz-border-radius: 20px 20px 20px 20px;
	-ms-border-radius: 20px 20px 20px 20px;
	-o-border-radius: 20px 20px 20px 20px;
}

.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 0.1s both;
	animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 0.1s both;
	height: 70px;
	font-family: "Source Sans Pro", Arial, sans-serif;
	font-weight: 500;
	font-size: 40px;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-3-29 20:40:27
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
@-webkit-keyframes text-focus-in {

	0% {
		-webkit-filter: blur(12px);
		filter: blur(12px);
		opacity: 0;
	}

	100% {
		-webkit-filter: blur(0px);
		filter: blur(0px);
		opacity: 1;
	}
}

@keyframes text-focus-in {
	0% {
		-webkit-filter: blur(12px);
		filter: blur(12px);
		opacity: 0;
	}

	100% {
		-webkit-filter: blur(0px);
		filter: blur(0px);
		opacity: 1;
	}

}

.text-focus-in-2 {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 0.3s both;
	animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 0.3s both;
	font-family: "Source Sans Pro", Arial, sans-serif;
	font-weight: 500;
	font-size: 40px;
}

/* ----------------------------------------------
* Generated by Animista on 2024-3-29 20:40:27
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
* ----------------------------------------
* animation text-focus-in
* ----------------------------------------
*/
@-webkit-keyframes text-focus-in-2 {
	0% {
		-webkit-filter: blur(12px);
		filter: blur(12px);
		opacity: 0;
	}

	100% {
		-webkit-filter: blur(0px);
		filter: blur(0px);
		opacity: 1;
	}
}

@keyframes text-focus-in-2 {
	0% {
		-webkit-filter: blur(12px);
		filter: blur(12px);
		opacity: 0;
	}

	100% {
		-webkit-filter: blur(0px);
		filter: blur(0px);
		opacity: 1;
	}
}

/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.img0 {
	/* Font & Text */
	font-family: OpenSans, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	letter-spacing: normal;
	line-height: 21px;
	text-decoration: none solid rgb(55, 58, 60);
	text-align: start;
	text-indent: 0px;
	text-transform: none;
	vertical-align: middle;
	white-space: normal;
	word-spacing: 0px;



	/* Color & Background */
	background-attachment: scroll;
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(55, 58, 60);

	/* Box */
	height: auto;
	width: 376px;
	margin-top: 9%;
	max-height: 429px;
	max-width: 476px;

	/* Positioning */
	position: static;
	top: auto;
	bottom: auto;
	right: auto;
	left: auto;
	float: none;
	display: flex;
	clear: none;
	z-index: auto;

	/* List */
	list-style-image: none;
	list-style-type: disc;
	list-style-position: outside;

	/* Table */
	border-collapse: separate;
	border-spacing: 0px 0px;
	caption-side: top;
	empty-cells: show;
	table-layout: auto;

	/* Miscellaneous */
	overflow: clip;
	cursor: auto;
	visibility: visible;

	/* Effects */
	transform: none;
	transition: all 0s ease 0s;
	outline-offset: 0px;
	box-sizing: border-box;
	resize: none;
	text-shadow: none;
	text-overflow: clip;
	word-wrap: normal;
	box-shadow: none;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

/*---------------------------------------------------------------------Big-Block-Img--------------------------------------------------------------------------------------------------*/

div .cds-9 css-0 cds-11 cds-grid-item {
	/* Font & Text */
	font-family: OpenSans, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	letter-spacing: normal;
	line-height: 21px;
	text-decoration: none solid rgb(55, 58, 60);
	text-align: start;
	text-indent: 0px;
	text-transform: none;
	vertical-align: baseline;
	white-space: normal;
	word-spacing: 0px;

	/* Color & Background */
	background-attachment: scroll;
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(55, 58, 60);

	/* Box */
	height: 461px;
	width: 508px;
	border: 0px none rgb(55, 58, 60);
	border-top: 0px none rgb(55, 58, 60);
	border-right: 0px none rgb(55, 58, 60);
	border-bottom: 0px none rgb(55, 58, 60);
	border-left: 0px none rgb(55, 58, 60);
	margin-left: 0px;
	padding: 16px;
	max-height: none;
	min-height: auto;
	max-width: none;
	min-width: auto;

	/* Positioning */
	position: absolute;
	top: auto;
	bottom: auto;
	right: auto;
	left: 15%;
	float: none;
	display: inline;
	clear: none;
	z-index: auto;

	/* List */
	list-style-image: none;
	list-style-type: disc;
	list-style-position: outside;

	/* Table */
	border-collapse: separate;
	border-spacing: 0px 0px;
	caption-side: top;
	empty-cells: show;
	table-layout: auto;

	/* Miscellaneous */
	overflow: visible;
	cursor: auto;
	visibility: visible;

	/* Effects */
	transform: none;
	transition: all 0s ease 0s;
	outline-offset: 0px;
	box-sizing: border-box;
	resize: none;
	text-shadow: none;
	text-overflow: clip;
	word-wrap: normal;
	box-shadow: none;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}